<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClubDen | Club</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section>
        <nav>
            <img src="/img/logo.png" alt="ClubDen">
            
            <!-- Hamburger Menu Icon -->
            <div class="menu-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <!-- End of Hamburger Menu Icon -->
            
            <ul class="nav-list left">
                <li><a href="/">Home</a></li>
                <li><a href="/allJobs">Current Club Openings</a></li>
                <li><a href="/allEmployers">Club Details</a></li>
            </ul>
        </nav>
    </section>
    <section>
        <div class="header">
            <h1>Official Club Admin Registration</h1>
        </div>
    </section>
    <section>
        <div class="form-container">
            <form action="/employerSignup" method="post" id="companySignup">
                <input type="text" name="name" placeholder="Club name" required>
                <input type="email" name="email" placeholder="Official Club Email ID" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="rePassword" placeholder="Confirm password" required>
                <input type="url" name="website" placeholder="Official Club Website" required>
                <textarea name="description" placeholder="Description of Your Club"></textarea>

                <button type="submit" name="submit">Submit</button>
            </form>
            <br>
            <hr>
            <br>
            <div class="below-form">
                <h5>Registered already? <a href="/employerLogin">Sign In</a></h5>
            </div>
        </div>
    </section>
    <hr>
    <section>
    </section>
    <script src="./companySignup.js"></script>
    <script type="text/javascript">
        const menuToggle = document.querySelector('.menu-toggle');
        const navList = document.querySelector('.nav-list');

        menuToggle.addEventListener('click', () => {
            navList.classList.toggle('active');
        });
    </script>
</body>

<footer>
    <div class="copyright">
        <p>Copyright &copy; 2023 ClubDenβ Version. All rights reserved to the Developers Love, Uday & Shaurya</p>
    </div>
</footer>

</html>
