<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClubDen | Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section>
        <nav>
            <div class="logo">
                <img src="/img/logo.png" alt="ClubDen">
            </div>
            <!-- Hamburger Menu Button -->
            <div class="menu-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>

            </div>
            <!-- End of Hamburger Menu Button -->

            <ul class="nav-list"> <!-- Added the class nav-list -->
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/allJobs">Current Club Openings</a></li>
                <li><a href="/allEmployers">Club Details</a></li>
                <li><a href="https://srm-clubs.vercel.app/">SRM Nexus</a></li>

            </ul>
        </nav>
    </section>

    <section>
        <div class="intro">
            <div class="icon-tab club-section">
                <img src="/img/club.gif" alt="">
                <br>
                <h2>100+</h2>
                <h4>Clubs</h4>
            </div>
            <hr>
            <div class="icon-tab active-club-section">
                <img src="/img/teamwork.gif" alt="">
                <br>
                <h2>1000+</h2>
                <h4>Active Club Members</h4>
            </div>
            <hr>
            <div class="icon-tab opening-section">
                <img src="/img/open.gif" alt="">
                <br>
                <h2>100+</h2>
                <h4>Club Member Openings</h4>
            </div>
            <hr>
            <div class="icon-tab student-section">
                <img src="/img/global.gif" alt="">
                <br>
                <h2>10000+</h2>
                <h4>Student Strength</h4>
            </div>
            <hr>
            <div class="icon-tab event-section">
                <img src="/img/event.gif" alt="">
                <br>
                <h2>100+</h2>
                <h4>Events</h4>
            </div>
        </div>
    </section>
    <hr>
    <br>
    <br>
    <section>
        <h2 class="sub-header">How do you want to use ClubDen?</h2>
        <div class="main-container">
            <div class="company-container">
                <div>
                    <h3>SRMIST Club Admin's Login</h3>
                </div>
                <div class="company-login-btn">
                    <button onclick="window.location.href = '/employerLogin';">Click here</button>
                </div>
            </div>

            <div class="student-container">
                <div>
                    <h3>SRMIST Student's Login</h3>
                </div>
                <div class="student-login-btn">
                    <button onclick="window.location.href = '/candidateLogin';">Click here</button>
                </div>
            </div>
        </div>
    </section>

    <script>
        // JavaScript for Hamburger Menu
        const menuToggle = document.querySelector('.menu-toggle');
        const navList = document.querySelector('.nav-list');

        menuToggle.addEventListener('click', () => {
            navList.classList.toggle('active');
        });
    </script>
    
</body>

<footer>
    <div class="copyright">
        <p>Copyright &copy; 2023 ClubDenβ Version. All rights reserved to the Developers Love, Uday & Shaurya</p>
    </div>
</footer>

</html>

